<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SORTING HAT:현재상영작</title>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link href="../static/head-bar.css" rel="stylesheet">

    <style>
        body {
            background-color: black;
            color:white;
            font-size:14px;
        }
    </style>
</head>
<body>
    <!-- START HEAD BAR -->
    <div class="head-bar">
        <h1>SORTING HAT</h1>
        <div class="hat-box"></div>
        <a href="recommend.html">영화추천</a>
        <a href="showing.html">현재상영작</a>
        <a href="schedule.html">상영예정작</a>
    </div>
    <!-- END HEAD BAR-->
    <img src="https://blog.kakaocdn.net/dn/cN8Jog/btrG3qjo3d0/YON0Dq2Ic8kJNTKV5V0ntK/img.jpg" width="100%">
</body>
</html>