<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>SORTING HAT:영화추천</title>
    <link
            href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
          integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="../static/head-bar.css" rel="stylesheet"/>
    <link href="../static/DP.css" rel="stylesheet"/>
    <link href="../static/star.css" rel="stylesheet"/>
    <link href="../static/modal.css" rel="stylesheet"/>
    <link href="../static/showing.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



    <script>

        $(document).ready(function () {
            listing()
            function listing() {
                $('#movielist').empty()
                $.ajax({
                    type: 'GET',
                    url: '/update',
                    data: {},
                    success: function (response) {
                        let rows = response['movies']
                        for (let i = 0; i < rows.length; i++) {
                            if (rows[i]['showing'] !== 1) {
                                continue
                            }
                            let id = rows[i]['_id']
                            let image = rows[i]['image']
                            let title = rows[i]['title']
                            let age = rows[i]['age']
                            let user_star = rows[i]['user_star']
                            let reviewer_star = rows[i]['reviewer_star']
                            let release = rows[i]['release']
                            let genre = rows[i]['genre']
                            //let comment = rows[i]['comment']

                            let temp_html = `<li>
                                            <a>
                                                <div class="screen" id=${id}>
                                                    <div class="top">${title}</div>
                                                    <div class="middle">관람객 평점 ${user_star} 평론가 평점 ${reviewer_star}</div>
                                                    <div class="middle2">${genre}</div>
                                                    <div class="middle3">${age}</div>
                                                    <div class="bottom">${release}</div>
                                                    <img src=${image}>
                                                </div>
                                            </a>
                                        </li>`
                            $('#movielist').append(temp_html)

                        }



                        // 페이지네이션 시작
                        const rowsPerPage = 20 // 한 페이지에 출력되는 개수
                        const newRows = document.querySelectorAll('#movielist li')
                        const rowsCount = newRows.length
                        const pageCount = Math.ceil(rowsCount / rowsPerPage)
                        const numbers = document.querySelector('#numbers')

                        // 페이지네이션 생성
                       for (let i = 1; i <= pageCount; i++) {
                            numbers.innerHTML += `<li><a href="" onclick="javascript:window.scrollTo(0,0)">${i}</a></li>`
                        }
                        const numberBtn = numbers.querySelectorAll('a')
                        numberBtn.forEach((item,idx) => {
                            item.addEventListener('click', (e) => {
                                e.preventDefault()
                                //테이블 출력 함수
                                displayRow(idx)
                            })
                        })

                        function displayRow(idx) {
                            let start = idx * rowsPerPage
                            let end = start + rowsPerPage

                            let rowsArray = [...newRows]

                            for(ra of rowsArray) {
                                ra.style.display = 'none'
                            }

                            let newRow = rowsArray.slice(start, end)
                            for(nr of newRow){
                                nr.style.display = ''
                            }
                            for(nb of numberBtn){
                                nb.classList.remove('active')
                            }
                            numberBtn[idx].classList.add('active')
                        }
                       displayRow(0)
                        //...작업중





                    }
                })
            }

        })
    </script>
</head>
<body>
    <!-- START HEAD BAR -->
    <div class="head-bar">
        <h1>SORTING HAT</h1>
        <div class="hat-box"></div>
        <a href="recommend">영화추천</a>
        <a href="showing">현재상영작</a>
        <a href="schedule">상영예정작</a>
    </div>
    <!-- END HEAD BAR-->
    <img src="https://blog.kakaocdn.net/dn/cN8Jog/btrG3qjo3d0/YON0Dq2Ic8kJNTKV5V0ntK/img.jpg" width="100%">

    <!-- 상영작 시작 -->
    <div class="wrap-p">
        <p>현재상영작</p>
    </div>
    <div id="movielist">
    </div>
    <!-- 상영작 끝 -->



    <!-- 상영작 시작 -->
    <section class="moviebox">
        <h1 class="pb">현재상영작</h1>
        <!-- 상영작 포스터 리스트 시작-->
        <article id="movielist">


        </article>

        <div class="pagination">
            <i class="fa-solid fa-angle-left"></i>
            <ol id="numbers">

            </ol>
            <i class="fa-solid fa-angle-right"></i>
        </div>


        <!-- 상영작 포스터 리스트 끝-->
    </section>
    <!-- 상영작 끝 -->

</body>
</html>